#search > form {
    position: relative; 
    right: -1px;
    display: inline-flex;
    width: 708px;
    height: 60px;
    border: 1px solid #03c75a;                
    text-align: left;
    border-radius: 33px;
    margin-right: 1px;
 }  
 #search > form:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
 }
 #search-svg {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 100%;
    margin-right: 12px;
    padding:17px 17px 17px 27px;
    position: relative;
 }
 #search-right {
    display: inline-flex;
    flex :1;
    align-items: stretch;
    justify-content: flex-end;
}             
#search-svg::after {
    display: none;
}
#search > form:focus-within #search-svg::after{
    position : absolute;
    content: "";
    width: 1px;
    height: 20px;
    background-color: #e4e4e4;
    display: inline-block;
    right: 0;
    top: 20px;
    }
 #search-svg svg {
    fill: #03c75a;
    width: 24px;
    height: 24px;
 }  
 #search-input{
    display: block;
    width: 480px;
    height: 58px;
    padding: 17px 0px;
    font-size: 2rem;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
}
#search-input::placeholder{
    color: transparent;
}
#search-input:focus::placeholder{
    color: #e4e4e4;
    font-weight: 500;
    letter-spacing: -0.4px;
}
#search-keyboard, #search-recent, #search-button{
    background: transparent;
    border: none;
    cursor: pointer;
}
#search-keyboard{
    padding: 21px 3px;
    margin-right: 3px;
}
#search-recent{
    padding: 26px 6px;
    right: 1px;
    top: 0;
}
#search-button{
    padding: 17px 27px 16px 10px;
}
#serch-button > div{
    background:#03c75a;
    width: 25px;
    height: 25px;
}
#search-keyboard::before, #search-recent::before, #search-button::before{
    content: "";
    display: block;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.89f0d213.png);
    background-size: 434px 422px;
    background-repeat: no-repeat;
}
#search-keyboard::before {
    background-position: -50px -270px;
    width: 24px;
    height: 16px;
}
#search-recent::before {
    background-position: -323px -174px;
    width: 10px;
    height: 6px;
}
#search-button::before {
    background-position: -364px -213px;
    width: 25px;
    height: 25px
}
#search-keyboard:hover::before{
    filter: brightness(0.7);
}
